div[type="glossary"] { 
  display: none;
  border-left: 3px solid #0066cc;
  padding: 1em;
  margin: 1em 0;
  background: #f8f8f8;
}

/* Show when printed */
@media print {
  div[type="glossary"] { display: block; }
}
