term {
  text-decoration: underline dotted;
  cursor: help;
  position: relative;
}


gloss {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  z-index: 100;
  width: 200px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}


term:hover gloss {
  display: block;
}
